body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

#header {
	width: 100vw;
	height: 10vh;
	padding: 15px;
	display: flex;
	align-items: center;
	background-color: #FC6C43;
	justify-content: space-between;
}

#header h1 {
	font-weight: 400;
	margin: 0;
	color: white;
}

.wrapper {
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.wrapper h1 {
	text-transform: uppercase;
	font-weight: 100;
	color: white;
}

.formcast {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
}

.formcast-input {
	margin: 5px;
}